*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div1{
    height: 80vh;
    width: 100%;
}

#div2{
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 3em;
    font-weight: 900;
}

#feature{
    height: 40vh;
    background-color: whitesmoke;
    border: 1px solid white;
}
#start{
    min-height: 70vh;
    width: 100%;
}
#card{
    background-color: #edf0f5;
    height: 200px;
    width: 25%;
    margin: 40px;
}
#plug{
    width: 100%;
    min-height: 50vh;
}